.profileContainer {
  .name_input_box {
    border: none !important;
    outline: none !important;
    &:focus {
      box-shadow: none !important;
    }
    border-radius: 12px;
    border-bottom: 1px solid #f72586 !important;
    box-shadow: none !important;
  }
  .name {
    color: #000;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    // margin-top: 20px;
    margin-bottom: 4px;
  }
  .number {
    color: #868686;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 22px !important;
  }
  .btn {
    border-radius: 10px !important;
    border-radius: 12px;
    // border-top: 2px solid #f72586;
    background: linear-gradient(
      90deg,
      rgba(8, 36, 66, 1) 0%,
      rgba(8, 36, 66, 1) 47%,
      rgba(4, 24, 45, 1) 100%
    );
    height: auto !important;
    width: 210px !important;
    height: 60px !important;
    line-height: normal;
    box-shadow: none !important;
    .text {
      color: #fff !important;
      font-family: "Nunito Sans", sans-serif !important;
      font-size: 1rem !important;
      font-style: normal;
      font-weight: 400;
    }
    &:hover {
      border: none !important;
      // border-top: 2px solid #f72586 !important;
      background: linear-gradient(
        90deg,
        rgba(8, 36, 66, 1) 0%,
        rgba(8, 36, 66, 1) 47%,
        rgba(4, 24, 45, 1) 100%
      ) !important;
      outline: none !important;
    }
    &:active {
      border: none !important;
      // border-top: 2px solid #f72586 !important;
      background: linear-gradient(
        90deg,
        rgba(8, 36, 66, 1) 0%,
        rgba(8, 36, 66, 1) 47%,
        rgba(4, 24, 45, 1) 100%
      ) !important;
      outline: none !important;
    }
  }
  .referCode {
    color: #333333;
    text-align: center;
    font-family: "Nunito Sans", sans-serif !important;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 18px;
  }
  .referal_box_container {
    margin-top: 52px !important;
    padding: 20px;
    border-radius: 12px;
    // border-top: 2px solid #70c0f9;
    background: #fff;
  }
  .referInputBox {
    border-radius: 8px !important;
    border: 1px solid #000 !important;
    background: #fff !important;
    // box-shadow: 4px 8px 10px 0px rgba(0, 0, 0, 0.25) !important;
    height: 50px !important;
    padding: 0px 0px 0px 16px !important;
    input {
      background: transparent !important;
      color: #333333 !important;
      font-family: "Nunito Sans", sans-serif !important;
      font-size: 24px !important;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .referSubmitBtn {
      height: 100% !important;
      color: #fff !important;
      background: #040524 !important;
      border-radius: 8px !important;

      text-align: center;
      font-family: "Nunito Sans", sans-serif !important;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      &:hover {
        color: #fff !important;
      }
    }
  }
  .profileCards {
    margin-top: 36px;
    .profile_card {
      margin-bottom: 32px;
      border-radius: 10px;
      border-radius: 12px;
      // border-top: 2px solid #f72586;
      // background: #fff;
      background: linear-gradient(
        90deg,
        rgba(8, 36, 66, 1) 0%,
        rgba(8, 36, 66, 1) 47%,
        rgba(4, 24, 45, 1) 100%
      );
      padding: 12px 32px;
    }
    .title {
      color: #fff;
      font-family: "Nunito Sans", sans-serif !important;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .resultNumber {
      color: #fff;
      font-family: "Nunito Sans", sans-serif !important;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}
